html {
  height: 100%;
  width: 100%;
}


.punkt{
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid white;
}
#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008bff;
}
img {
  float: center ; 
  margin: 15px; 
  width: 800px; 
  height: 600px;
}
